<!DOCTYPE html>
<html lang="en">
<html>
<head>

	<!-- Page information -->
	<meta charset="utf-8">
	<title>Funniest College Major</title>
  	<meta name="description" content="A website built to collect data for a psychological study about humor and college majors.">
  	<meta name="author" content="Daniel Rosenbaum">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>

	<!-- Title -->
	<div id="title">
		<h1>Funniest College Major</h1>
	</div>

	<!-- Picture -->
	<div id="cartoon_pic">
		<img id="cartoon_image" src="/static/images/Cartoon4.jpg" alt="Cartoon picture - Press Skip or refresh the browser to load a new picture." data-name="3">
	</div>

	<!-- Input -->
	<div id="input">

		<input class="input_field" type="text" id="caption-input" placeholder="Enter a funny caption">

		<input class="input_field" type="text" id="major-input" placeholder="Enter your college major">

		<button id="submit_button" class="input_field" type="submit">Submit!</button>
		
		<button id="skip_button" class="input_field" type="submit">Skip Cartoon</button>

	</div>

	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/scripts.js"></script>
</body>
</html>